{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}
{% block body %}
    <div class="home-container">
        <h1>Formulário de Requisição</h1>
        <form action="#" method="post">
            <div class="form-group">
                <label for="nome" class="label-bold">Nome completo:</label>
                <input type="text" id="nome" class="form-control" name="nome" required>
            </div>
            <div class="form-group">
                <label for="vinculo" class="label-bold">Vínculo institucional:</label>
                <select id="vinculo" name="vinculo" class="form-control"
                    onchange="habilitarOutro('vinculo', 'outro_vinculo')" required>
                    <option value="Esalq/USP">Esalq/USP</option>
                    <option value="IFSP campus Piracicaba">IFSP campus Piracicaba</option>
                    <option value="UFSCar">UFSCar</option>
                    <option value="outro">Outro</option>
                </select>
                <input type="text" id="outro_vinculo" name="outro_vinculo" class="form-control"
                    placeholder="Outro vínculo" style="display: none;">
            </div>
            <div class="form-group">
                <label for="projeto" class="label-bold">Projeto:</label>
                <select id="projeto" name="projeto" class="form-control" required>
                    <option value="Iniciação Científica">Iniciação Científica</option>
                    <option value="Estágio">Estágio</option>
                    <option value="Trabalho de Conclusão de Curso">Trabalho de Conclusão de Curso</option>
                    <option value="Mestrado">Mestrado</option>
                    <option value="Doutorado">Doutorado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="orientador" class="label-bold">Orientador do projeto:</label>
                <input type="text" id="orientador" class="form-control" name="orientador" required>
            </div>
            <div class="form-group">
                <label for="tipos_dados" class="label-bold">Tipos de dados solicitados:</label>
                <select id="tipos_dados" name="tipos_dados" class="form-control"
                    onchange="habilitarOutro('tipos_dados', 'outro_tipos_dados')" required>
                    <option value="Áudio">Áudio</option>
                    <option value="Biossensores">Biossensores</option>
                    <option value="Imagens: fotografias digitais">Imagens: fotografias digitais</option>
                    <option value="Imagens: vídeos digitais">Imagens: vídeos digitais</option>
                    <option value="Sensores de ambiente">Sensores de ambiente</option>
                    <option value="outro">Outro</option>
                </select>
                <input type="text" id="outro_tipos_dados" name="outro_tipos_dados" class="form-control"
                    placeholder="Outro tipo de dados" style="display: none;">
            </div>
            <div class="form-group">
                <label for="info_adicionais" class="label-bold">Informações adicionais sobre os dados:</label>
                <textarea id="info_adicionais" name="info_adicionais" class="form-control" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label class="label-bold">Compromisso e responsabilidade:</label>
                <div>
                    <label>
                        <input type="checkbox" name="compromisso1"
                            value="Comprometo-me a utilizar os dados exclusivamente para as finalidades do projeto supracitado">
                        Comprometo-me a utilizar os dados exclusivamente para as finalidades do projeto supracitado
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="compromisso2"
                            value="Comprometo-me a não distribuir cópias dos dados para terceiros">
                        Comprometo-me a não distribuir cópias dos dados para terceiros
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="compromisso3"
                            value="Comprometo-me a não manter cópias dos dados após a utilização no projeto supracitado">
                        Comprometo-me a não manter cópias dos dados após a utilização no projeto supracitado
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="compromisso4"
                            value="Comprometo-me a citar o Nupea e a minha instituição nas publicações decorrentes do uso dos dados">
                        Comprometo-me a citar o Nupea e a minha instituição nas publicações decorrentes do uso dos dados
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="compromisso5"
                            value="Responsabilizo-me por quaisquer usos indevidos que eu promover com os dados">
                        Responsabilizo-me por quaisquer usos indevidos que eu promover com os dados
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Enviar requisição
                </button>
            </div>
        </form>
    </div>
{% endblock %}