{% extends "layout.html" %}
{% block body %}
<div class="container pt-4">

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <form action="/editar_dispositivo/{{ dispositivo[0] }}" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" class="form-control" value="{{ dispositivo[1] }}"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" class="form-control" rows="4"
                            cols="50">{{ dispositivo[4] }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="serial_number">Serial Number:</label>
                        <input type="text" id="serial_number" name="serial_number" class="form-control"
                            value="{{ dispositivo[5] }}">
                    </div>
                    <div class="form-group">
                        <label for="mac_address">MAC Address:</label>
                        <input type="text" id="mac_address" name="mac_address" class="form-control"
                            value="{{ dispositivo[6] }}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Atualizar Dispositivo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}