{% extends "layout.html" %}
{% block body %}
<div class="home-container coleta-container">
  <h1>Admin - Lista de Usuários</h1>


  <div class="mt-4">
    <h3>Adicionar Novo Usuário</h3>
    <form action="/admin/usuarios" method="post">
      <div class="row">
        <div class="form-group col-sm-8">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group col-sm-4">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
    </form>
  </div>


  <div id="colunas" class="mt-5">
    <div class="col-md-12">
      <table id="userTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Vínculo</th>
            <th>UID Firebase</th>
            <th>Email Verificado</th>
            <th>Admin</th>
            <th>Ações</th> 
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.vinculo }}</td>
            <td>{{ user.firebase_uid }}</td>
            <td>{{ 'Sim' if user.email_verified else 'Não' }}</td>
            <td>{{ 'Sim' if user.admin else 'Não' }}</td>
            <td>
              <a href="{{ url_for('excluir_usuario', uid=user.firebase_uid, db_id=user.id) }}" class="btn btn-danger btn-sm">Excluir</a>
              <a href="{{ url_for('toggle_admin', db_id=user.id) }}" class="btn btn-info btn-sm">Tornar Admin</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#userTable').DataTable();
  });
</script>
{% endblock %}
