{% extends "layout.html" %}
{% block body %}
<div class="home-container">
  <a href="/detalhes-experimento/{{ experimento_id }}/dispositivo/{{dispositivo_id}}/coleta/" class="btn-voltar"><i
      class="fa fa-fw fa-arrow-left"></i>Voltar</a>
  <h1>Editar Coleta</h1>
  <form id="form-dispositivo" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" class="form-control" value="{{ coleta.nome }}" required>
    </div>
    <div id="colunas">
      <h4>Atributos (<span id="atributos-count">{{ coleta.atributos|length }}</span>):</h4>
      {% for coluna in coleta.atributos %}
      <div class="form-group coluna">
        <div class="card mb-3">
          <div class="card-body">
            <h5>Atributo <span class="atributo-numero"></span></h5>
            <div class="atributo-url"></div>
            <div class="row">
              <div class="col">
                <label for="coluna_nome">Nome do atributo:</label>
                <input type="text" name="coluna[]" class="form-control coluna-nome" value="{{ coluna.nome }}" required>
              </div>
              <div class="col">
                <label for="coluna_tipo">Tipo de Dado:</label>
                <select name="coluna[]" class="form-control coluna-tipo" required>
                  <option value="inteiro" {% if coluna.tipo=='inteiro' %} selected {% endif %}>INTEIRO</option>
                  <option value="real" {% if coluna.tipo=='real' %} selected {% endif %}>REAL</option>
                  <option value="caractere" {% if coluna.tipo=='caractere' %} selected {% endif %}>CARACTERE</option>
                </select>
              </div>
              <div class="col">
                <label for="coluna_unidade">Unidade:</label>
                <input type="text" name="coluna[]" class="form-control coluna-unidade" value="{{ coluna.unidade }}">
              </div>
            </div>
            <div class="row">
              <label for="coluna_descricao">Descrição Sucinta:</label>
              <input type="text" name="coluna[]" class="form-control coluna-descricao" maxlength="70"
                value="{{ coluna.descricao }}" required>
            </div>
            <button type="button" class="btn btn-danger remove-coluna mt-2" data-experimento-id="{{ experimento_id }}"
              data-coleta-id="{{ coleta_id }}">Remover</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="button" id="add-coluna" class="btn btn-success" data-experimento-id="{{ experimento_id }}"
        data-coleta-id="{{ coleta_id }}">Adicionar Atributo</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Salvar Alterações</button>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('form-dispositivo');
    const addColunaButton = document.getElementById('add-coluna');
    const colunasContainer = document.getElementById('colunas');
    const atributosCount = document.getElementById('atributos-count');

    // Function to update the attribute count and numbers
    function updateAtributosCount() {
      const colunas = colunasContainer.querySelectorAll('.coluna');
      const totalColunas = colunas.length;
      atributosCount.textContent = totalColunas;

      colunas.forEach((coluna, index) => {
        const numeroSpan = coluna.querySelector('.atributo-numero');
        numeroSpan.textContent = index + 1;

        const colunas = colunasContainer.querySelectorAll('.coluna');
        const totalColunas = colunas.length;
        atributosCount.textContent = totalColunas;


        const urlDiv = coluna.querySelector('.atributo-url');
        const experimentoId = addColunaButton.getAttribute('data-experimento-id');
        const coletaId = addColunaButton.getAttribute('data-coleta-id');
        const url = `/remove-coluna/${experimentoId}/${coletaId}/${index + 1}/${totalColunas}`;
        //urlDiv.innerHTML = `<a href="${url}" target="_blank">${url}</a>`;

        const removeButton = coluna.querySelector('.remove-coluna');
        removeButton.setAttribute('data-url', url);
      });
    }

    addColunaButton.addEventListener('click', function () {
      const experimentoId = addColunaButton.getAttribute('data-experimento-id');
      const coletaId = addColunaButton.getAttribute('data-coleta-id');
      const colunas = colunasContainer.querySelectorAll('.coluna');
      const totalColunas = colunas.length;

      // Envio da requisição para adicionar coluna
      fetch(`/adicionar-coluna/${experimentoId}/${coletaId}/${totalColunas + 1}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ /* Dados da nova coluna, se necessário */ })
      })
        .then(response => {
          if (response.ok) {
            return response.json(); // Se precisar de dados de resposta
          } else {
            throw new Error('Falha ao adicionar coluna');
          }
        })
        .then(data => {
          // Se a requisição foi bem-sucedida, adiciona a coluna dinamicamente
          const colunaDiv = document.createElement('div');
          colunaDiv.classList.add('form-group', 'coluna');
          colunaDiv.innerHTML = `
          <div class="card mb-3">
            <div class="card-body">
              <h5>Atributo <span class="atributo-numero"></span></h5>
              <div class="atributo-url"></div>
              <label for="coluna_nome">Nome da Coluna:</label>
              <input type="text" name="coluna[]" class="form-control coluna-nome" value="Nome da Coluna" required>
              <label for="coluna_descricao">Descrição Sucinta:</label>
              <input type="text" name="coluna[]" maxlength="70" class="form-control coluna-descricao" value="Descrição Sucinta" required>
              <label for="coluna_tipo">Tipo de Dado:</label>
              <select name="coluna[]" class="form-control coluna-tipo" required>
                <option value="inteiro">INTEIRO</option>
                <option value="real">REAL</option>
                <option value="caractere">CARACTERE</option>
              </select>
              <label for="coluna_unidade">Unidade:</label>
              <input type="text" name="coluna[]" class="form-control coluna-unidade" value="Unidade">
              <button type="button" class="btn btn-danger remove-coluna mt-2"
                      data-experimento-id="${experimentoId}" data-coleta-id="${coletaId}">Remover</button>
            </div>
          </div>
        `;
          colunasContainer.appendChild(colunaDiv);
          updateAtributosCount();

          // Após adicionar a coluna, submeter o formulário principal
          form.submit();
        })
        .catch(error => {
          console.error('Erro ao adicionar coluna:', error);
          alert('Erro ao adicionar coluna');
        });
    });

    colunasContainer.addEventListener('click', function (event) {
      if (event.target.classList.contains('remove-coluna')) {
        const url = event.target.getAttribute('data-url');
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ /* Qualquer dado adicional necessário */ })
        })
          .then(response => {
            if (response.ok) {
              event.target.closest('.coluna').remove();
              updateAtributosCount();
              form.submit();
            } else {
              alert('Falha ao remover coluna');
            }
          })
          .catch(error => {
            console.error('Erro ao remover coluna:', error);
            alert('Erro ao remover coluna');
          });
      }
    });

    // Atualização inicial do contador de atributos
    updateAtributosCount();

  });
</script>

{% endblock %}