{% extends "layout.html" %}
{% block body %}
<div class="home-container coleta-container">
  <a href="{{url_for('experimento_dispositivo_coleta', experimento_id=experimento_id, dispositivo_id=dispositivo[0])}}" class="btn-voltar"><i
      class="fa fa-fw fa-arrow-left"></i>Voltar</a> <br>
  <div id="colunas">
    <div class="d-flex justify-content-between align-items-center">


      <h3 class="mb-3 ml-5"><b>Nome da coleta: </b>{{coleta.nome}}</h3>
      <h4 class="mb-3"><b>Data ínicio: </b>{{ coleta.data_inicio.strftime("%d/%m/%Y - %H:%M") }}</h4>
      {% if coleta[6] %}
      <h4 class="mb-3"><b>Data Fechamento: </b>{{ coleta.data_fechamento.strftime("%d/%m/%Y - %H:%M") }}</h4>
      {% else %}
      <h4 class="mb-3"><b>Data Fechamento: </b> ---- </h4>
      {% endif %}

      {% if dispositivo.criado_por == user.id or user.id == experimento[6]%}
      <div class="d-flex justify-content-between align-items-right">
        <a href="#"
          onclick="confirmarExclusao('{{ url_for('coleta_limpar', experimento_id=experimento_id, dispositivo_id=dispositivo[0], coleta_id=coleta.id) }}')"
          class="btn btn-danger mr-5 mb-3">Limpar coleta <i class="fa fa-fw fa-trash"></i></a>
      </div>
      {% endif %}
    </div>
    <div class="col-md-12">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            {% for coluna in coleta.atributos %}
            <th>{{ loop.index }}. {{ coluna.nome }}</th>
            {% endfor %}
            <th>data-hora</th>
          </tr>
          <tr>
            {% for coluna in coleta.atributos %}
            {% if coluna.tipo == 'caractere' %}
            <th>
              <button class="btn btn-secondary grafico-dispositivo" data-toggle="modal" data-target="#myModal"><i
                  class="fa fa-fw fa-wave-square"></i> Gráfico</button>
            </th>
            {% else %}
            <th>
              <button class="btn btn-primary grafico-dispositivo" data-toggle="modal"
                data-target="#myModal{{loop.index}}"><i class="fa fa-fw fa-wave-square"></i> Gráfico</button>
              <input type="hidden" id="myValue{{loop.index}}"
                value="/static/graficos/grafico-{{dispositivo_id}}-{{coluna.nome}}.png">
            </th>
            {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for dado in dados %}
          <tr>
            {% for i in range(coleta.atributos|length) %}
            <td>{{ dado[i+2] }}</td>
            {% endfor %}
            <td>{{ dado[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
{% for coluna in coleta.atributos %}
<div id="myModal{{loop.index}}" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01{{loop.index}}">
  <div id="caption{{loop.index}}"></div>
</div>
{% endfor %}

<script>
  // Get all modal elements
  var modals = document.querySelectorAll(".modal");

  // Get all buttons that open modal
  var buttons = document.querySelectorAll(".grafico-dispositivo");

  // Get all images and captions
  var modalImgs = document.querySelectorAll(".modal-content");
  var captions = document.querySelectorAll("#caption");

  // Loop through each button and add click event
  buttons.forEach(function (button, index) {
    button.onclick = function () {
      modals[index].style.display = "block";
      modalImgs[index].src = document.getElementById("myValue" + (index + 1)).value;
    }
  });

  // Get all close spans
  var spans = document.querySelectorAll(".close");

  // Loop through each close span and add click event
  spans.forEach(function (span, index) {
    span.onclick = function () {
      modals[index].style.display = "none";
    }
  });

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    modals.forEach(function (modal) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    });
  }
</script>
{% endblock %}