{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
<div class="home-container form-container">
    <a href="/detalhes-experimento/{{ experimento_id }}/dispositivo" class="btn-voltar"><i
            class="fa fa-fw fa-arrow-left"></i>Voltar</a> <br> <br>
    <div id="colunas">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-3 ml-5">Coletas do dispositivo: {{dispositivo[1]}}</h2>

            {% if not permissao[5] == 'leitura'%}
            <div class="ml-auto">
                <a class="btn btn-primary inserir-dispositivo"
                    href="{{ url_for('coleta_inserir', experimento_id=experimento_id, dispositivo_id=dispositivo[0]) }}"><i
                        class="fa fa-fw fa-plus"></i>Inserir</a>

            </div>
            {% endif %}
        </div>



        {% if coletas %}
        {% for coleta in coletas %}
        <div class="experiment-card">
            <h3><b>Nome da coleta: </b>{{coleta[1]}}</h3>
            <p><b>Data ínicio: </b>{{ coleta[5].strftime("%d/%m/%Y - %H:%M") }}</p>
            {% if coleta[6] %}
            <p><b>Data Fechamento: </b>{{ coleta[6].strftime("%d/%m/%Y - %H:%M") }}</p>
            {% else %}
            <p><b>Data Fechamento: </b> ---- </p>
            {% endif %}
            <div class="col-8">
                {% if not permissao[5] == 'leitura'%}
                {% if dispositivo[6] == user.id or user.id == experimento[6]%}
                <a href="{{ url_for('coleta_editar', experimento_id=experimento_id, dispositivo_id=dispositivo[0], coleta_id=coleta[0]) }}"
                    class="btn btn-primary mx-2">Editar <i class="fa fa-fw fa-edit"></i></a>
                <a href="#"
                    onclick="confirmarExclusao('{{ url_for('coleta_deletar', experimento_id=experimento_id, dispositivo_id=dispositivo[0], coleta_id=coleta[0]) }}')"
                    class="btn btn-danger mx-2">Excluir <i class="fa fa-fw fa-trash"></i></a>

                {% endif %}
                {% endif %}
                <a href="{{ url_for('coleta_dados', experimento_id=experimento_id, dispositivo_id=dispositivo[0], coleta_id=coleta[0]) }}"
                    class="btn btn-warning mx-2"> Dados <i class="fa fa-fw fa-table"></i></a>
                <br>
                <br>
                {% if not permissao[5] == 'leitura'%}
                {% if dispositivo[6] == user.id or user.id == experimento[6]%}
                {% if coleta[4] %}
                <form action="/fechar-coleta/{{ experimento[0] }}/{{ dispositivo[0] }}/{{ coleta[0] }}" method="GET">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked
                            onchange="this.form.submit()">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Aberta</label>
                    </div>
                </form>
                {% else %}
                <form action="/abrir-coleta/{{ experimento[0] }}/{{ dispositivo[0] }}/{{ coleta[0] }}" method="GET">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="this.form.submit()">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Fechada</label>
                    </div>
                </form>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
            <br>
            <p>Nenhum dispositivo cadastrado ainda.</p>
        </div>
        {% endif %}

    </div>
</div>



{% endblock %}