{% extends "layout.html" %}
{% block body %}
    <div class="home-container">
        <a href="/detalhes-experimento/{{ experimento_id }}/etapas" class="btn-voltar"><i class="fa fa-fw fa-arrow-left"></i>Voltar</a> <br>
        <h1>URLs da Etapa: {{etapa[1]}}</h1>

        {% if permissao[1] != 'leitura' and permissao[4][1] or experimento[6] == user.id %}
        <div class="card mb-3 novo-anexo">
            <div class="card-body">
                <h2 class="card-title">Enviar Nova URL:</h2>
                <form action="{{ url_for('etapa_url', experimento_id=experimento_id, etapa_id=etapa_id) }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="descricao">URL:</label>
                        <input type="text" class="form-control" id="url" name="url" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Nome da URL:</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição da URL:</label>
                        <input type="text" class="form-control" id="descricao_url" name="descricao_url" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        {% endif %}

        {% if urls %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">URLs</h5>
                <ul class="list-group">
                    {% for url in urls %}
                    <li class="list-group-item">
                        <b>URL:</b><a href="{{ url[3] }}">  {{ url[2] }} </a> <br>
                        <b>Descrição:</b> {{ url[4] }} <br>
                        <b>Data Upload:</b> {{ url[5].strftime("%d/%m/%Y") }} <br>
                        {% if permissao[1] == 'remocao' and permissao[4][1] or experimento[6] == user.id %}
                        <a href="#" onclick="confirmarExclusao('{{ url_for('deletar_url_etapa', etapa_id=etapa_id, url_id=url[0], experimento_id=experimento_id) }}')" class="btn btn-danger ml-2 mt-2">Deletar</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="card mb-3 text-center">
            <div class="card-body">
                <h5 class="card-title">URLs</h5>
                <p class="card-text">Nenhuma URL inserida ainda.</p>
            </div>
        </div>
        {% endif %}

        
    </div>
{% endblock %}