{% extends "layout.html" %}
{% block body %}
<div class="home-container">
    <a href="/detalhes-experimento/{{ experimento_id }}" class="btn-voltar"><i
            class="fa fa-fw fa-arrow-left"></i>Voltar</a>
    <h1>Anexos do Experimento: {{experimento[1]}}</h1>

    {% if permissao[1] != 'leitura' and permissao[2][0] or experimento[6] == user.id %}
    <div class="card mb-3 novo-anexo">
        <div class="card-body">
            <h2 class="card-title">Enviar Novo Anexo:</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Escolher Arquivo</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" required>
                </div>
                {% if experimento[6] == user.id %}
                <div class="form-group">
                    <label>
                        <input type="checkbox" id="sensivel" name="sensivel" value="sensivel">
                        Esse arquivo é sensível.
                    </label>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if anexos %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Anexos</h5>
            <ul class="list-group">
                {% for anexo in anexos %}
                {% if anexo[6] %}
                    {% if experimento[6] == user.id %}
                        <li class="list-group-item">
                            <b>Nome do arquivo:</b> {{ anexo[2] }} <br>
                            <b>Descrição:</b> {{ anexo[4] }} <br>
                            <b>Data Upload:</b> {{ anexo[5].strftime("%d/%m/%Y") }} <br>
                            <b>Descrição:</b> {{ anexo[4] }} <br>
                            <b>Arquivo sensível.</b><br>
                            <a href="{{ url_for('download_anexos_experimento', experimento_id=experimento_id, anexo_id=anexo[0]) }}"
                                class="btn btn-info ml-2 mt-2">Visualizar</a>
                            {% if permissao[1] == 'remocao' and permissao[2][0] or experimento[6] == user.id %}
                            <a href="#"
                                onclick="confirmarExclusao('{{ url_for('deletar_anexos_experimento', experimento_id=experimento_id, anexo_id=anexo[0]) }}')"
                                class="btn btn-danger ml-2 mt-2">Deletar</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">
                        <b>Nome do arquivo:</b> {{ anexo[2] }} <br>
                        <b>Descrição:</b> {{ anexo[4] }} <br>
                        <b>Data Upload:</b> {{ anexo[5].strftime("%d/%m/%Y") }} <br>
                        <b>Descrição:</b> {{ anexo[4] }} <br>
                        <a href="{{ url_for('download_anexos_experimento', experimento_id=experimento_id, anexo_id=anexo[0]) }}"
                            class="btn btn-info ml-2 mt-2">Visualizar</a>
                        {% if permissao[1] == 'remocao' and permissao[2][0] or experimento[6] == user.id %}
                            <a href="#"
                            onclick="confirmarExclusao('{{ url_for('deletar_anexos_experimento', experimento_id=experimento_id, anexo_id=anexo[0]) }}')"
                            class="btn btn-danger ml-2 mt-2">Deletar</a>
                        {% endif %}
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="card mb-3 text-center">
        <div class="card-body">
            <h5 class="card-title">Anexos</h5>
            <p class="card-text">Nenhum anexo inserido ainda.</p>
        </div>
    </div>
    {% endif %}


</div>
{% endblock %}