{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}

<div class="home-container">
        <a href="/meus-experimentos" class="btn-voltar"><i class="fa fa-fw fa-arrow-left"></i>Voltar</a>




        {% if permissao != 'nenhuma' or user.id == experimento[6]%}



        <h1>Detalhes do Experimento</h1>

        <div class="experiment-details">
                <h3>{{ experimento[1] }}</h3>
                <p><b>Categoria:</b> {{ experimento[2] }}</p>
                <p><b>Descrição:</b> {{ experimento[4] }}</p>
                <p><b>Localização:</b> {{ experimento[5] }}</p>
                <p><b>Cadastrado em:</b> {{ experimento[3].strftime("%d/%m/%Y") }}</p>
                <p><b>Espaço ocupado por anexos:</b> {{ espaco_disco }}</p>
                <p><b>Espaço ocupado no postgres:</b> {{ espaco_banco }}</p>

        </div>
        <div class="experiment-buttons">

                {% if not permissao[1] == 'leitura' or user.id == experimento[6]%}
                <a href="/detalhes-experimento/{{experimento[0]}}/editar" class="btn btn-primary">Editar <i
                                class="fa fa-fw fa-edit"></i></a>
                {% endif %}


                <a href="/detalhes-experimento/{{experimento[0]}}/anexos" class="btn btn-warning">Anexos ({{counts.anexos}}) <i
                                class="fa fa-fw fa-folder"></i></a>

                <a href="/detalhes-experimento/{{experimento[0]}}/url" class="btn btn-secondary">URLs ({{counts.urls}}) <i
                                class="fa fa-fw fa-link"></i></a>
                <!-- Iterar entre as permissoes -->
                {% if not permissao[5] == 'nenhuma'%}
                <a href="/detalhes-experimento/{{experimento[0]}}/dispositivo" class="btn btn-info">Dispositivos ({{counts.dispositivos}}) <i
                                class="fa fa-fw fa-microchip"></i></a>
                {% endif %}
                {% if not permissao[3] == 'nenhuma'%}
                <a href="/detalhes-experimento/{{experimento[0]}}/etapas" class="btn btn-success">Etapas ({{counts.etapas}}) <i
                                class="fa fa-fw fa-list"></i></a>
                {% endif %}
                {% if user.id == experimento[6]%}
                <a href="#" onclick="confirmarExclusao('/detalhes-experimento/{{experimento[0]}}/deletar')"
                        class="btn btn-danger">Excluir <i class="fa fa-fw fa-trash"></i></a>

                <a href="/compartilhados_experimento/{{experimento[0]}}" class="btn btn-dark">Compartilhar ({{counts.compartilhamentos}}) <i
                                class="fa fa-fw fa-share"></i></a>
                {% endif %}
        </div>
        {% else %}
        <br>
        <div class="text-center">
                <h3>Você não tem acesso a esse experimento</h3>
                
        </div> 
        {%      endif %}
</div>


{% endblock %}