{% extends "layout.html" %}
{% block body %}
    <div class="home-container">
        <h1>Editar Perfil</h1>

        {% if message %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <form action="/editar-perfil" method="post">
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{nome}}" required>
            </div>
            <div class="form-group">
                <label for="nome_completo">Nome completo:</label>
                <input type="text" class="form-control" id="nome_completo" name="nome_completo" value="{{nome_completo}}" required>
            </div>
            <div class="form-group">
                <label for="vinculo">Vínculo institucional:</label>
                <input type="text" class="form-control" id="vinculo" name="vinculo" value="{{vinculo}}" required>
            </div>
            <div class="form-group">
                <label for="senha_atual">Senha Atual:</label>
                <input type="password" class="form-control" id="senha_atual" name="senha_atual">
                <small class="form-text text-muted">Deixe em branco se não quiser alterar a senha.</small>
            </div>
            <div class="form-group">
                <label for="nova_senha">Nova Senha:</label>
                <input type="password" class="form-control" id="nova_senha" name="nova_senha">
                <small class="form-text text-muted">Deixe em branco se não quiser alterar a senha.</small>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock %}
