{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
    <div class="home-container">
        <h1>Perfil do Usuário</h1>

        <div class="perfil-card">
            <p><strong>ID:</strong> {{user_id}}</p>
            <p><strong>Usuário:</strong> {{nome}}</p>
            <p><strong>Nome completo:</strong> {{nome_completo}}</p>
            <p><strong>Vínculo Institucional:</strong> {{vinculo}}</p>
            {% if email_verified %} 
            <p><strong>E-mail:</strong> {{email}} - Verificado</p>
            {% else %}
            <p><strong>E-mail:</strong> {{email}} - Não verificado</p>
            {% endif %}
        </div>

        <div class="perfil-buttons">
            <a href="/editar-perfil" class="btn btn-success">Editar Perfil</a>
            <a href="#" class="btn btn-danger" onclick="confirmarExclusao('/deletar-perfil')">Excluir Perfil</a>
        </div>
    </div>

    
{% endblock %}
