{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block body %}
    <div class="home-container">
        <h1>Sobre</h1>
        <br>
        <br>
        <p><b>Projeto:</b> Um sistema de informação para gestão dos dados de pesquisas em agropecuária digital.</p>
        <br>
        <p style="text-align: justify;"><b>Resumo:</b> Na agropecuária digital, as fazendas inteligentes (smart farms) são caracterizadas pela adoção
            de tecnologias visando redução de perdas,
            aumento de produtividade e atendimento às normas sanitárias e de bem-estar animal. Dentre as tecnologias,
            destacam-se a internet das coisas
            para realizar coleta e transmissão de dados, big data para o gerenciamento de grandes volumes de dados
            heterogêneos e inteligência artificial
            visando descoberta do conhecimento e predição. Por sua vez, a e-Ciência permite que pesquisadores realizem
            experimentos de forma colaborativa
            e analisem seus resultados de maneira compartilhada. Para viabilizar a colaboração e o compartilhamento,
            plataformas de software
            (ecossistemas de software) têm sido fundamentais. Este projeto tem por objetivo prototipar uma plataforma de
            software capaz de manter e
            disponibilizar dados de pesquisas da agropecuária digital para uma rede de pesquisadores. Pretende-se
            fortalecer parcerias e projetos de pesquisa
            já existentes, tanto com instituições de ensino e pesquisa em agropecuária digital quanto com fazendas
            inteligentes. O projeto seguirá o método
            evolucionário de desenvolvimento de software permitindo a verificação e validação em etapas iterativas nas
            quais pesquisador e stakeholders compartilham
            informações garantindo a eficácia do produto. Dentre os resultados, almeja-se prover produções técnica
            (software) e acadêmica (publicações),
            além de capacitação multidisciplinar para o(a) discente bolsista.</p>
        <br>
        <p><b>Fomento: </b>Programa Institucional de Bolsas de Iniciação em Desenvolvimento Tecnológico e Inovação (<a
                href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/acoes-e-programas/programas/programas-ict/pibiti">PIBITI
               </a> / <a
               href="https://www.gov.br/cnpq/pt-br">CNPq</a>)- Instituto Federal de São Paulo <a
                href="https://www.ifsp.edu.br/component/content/article/17-ultimas-noticias/3670-ifsp-divulga-os-editais-para-bolsas-do-cnpq">(IFSP)</a>.
        </p>
        <p><b>Bolsista: </b><a href="https://lattes.cnpq.br/6610645482424444">Allan Bastos da Silva</a>.</p>
        <p><b>Orientador: </b><a href="https://lattes.cnpq.br/4302523779194273">Prof. Dr. Thiago L. L. Siqueira</a>.</p>
        <p><b>Apoio e parcerias: </b>Sistemas
                inteligentes: modelagem preditiva e internet das coisas para a produção animal na agropecuária 4.0<a
                href="https://bv.fapesp.br/pt/auxilios/110856/sistemas-inteligentes-modelagem-preditiva-e-internet-das-coisas-para-a-producao-animal-na-agropecuar/">
                (FAPESP)</a>.</p>

    </div>
{% endblock %}